@font-face {
    font-family: 'MaximaNouva';
    src: url('../fonts/maxima-nouva/MaximaNouva-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MaximaNouva';
    src: url('../fonts/maxima-nouva/MaximaNouva-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MaximaNouva';
    src: url('../fonts/maxima-nouva/MaximaNouva-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MaximaNouva';
    src: url('../fonts/maxima-nouva/MaximaNouva-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MaximaNouva';
    src: url('../fonts/maxima-nouva/MaximaNouva-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NewBlackTypeface';
    src: url('../fonts/new-black/NewBlackTypeface-UltraLight.woff2') format('woff2'),
        url('../fonts/new-black/NewBlackTypeface-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NewBlackTypeface';
    src: url('../fonts/new-black/NewBlackTypeface-Light.woff2') format('woff2'),
        url('../fonts/new-black/NewBlackTypeface-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NewBlackTypeface';
    src: url('../fonts/new-black/NewBlackTypeface-Regular.woff2') format('woff2'),
        url('../fonts/new-black/NewBlackTypeface-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NewBlackTypeface';
    src: url('../fonts/new-black/NewBlackTypeface-Medium.woff2') format('woff2'),
        url('../fonts/new-black/NewBlackTypeface-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NewBlackTypeface';
    src: url('../fonts/new-black/NewBlackTypeface-SemiBold.woff2') format('woff2'),
        url('../fonts/new-black/NewBlackTypeface-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NewBlackTypeface';
    src: url('../fonts/new-black/NewBlackTypeface-Bold.woff2') format('woff2'),
        url('../fonts/new-black/NewBlackTypeface-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NewBlackTypeface';
    src: url('../fonts/new-black/NewBlackTypeface-ExtraBold.woff2') format('woff2'),
        url('../fonts/new-black/NewBlackTypeface-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Chumb';
    src: url('../fonts/chumb/Chumb.woff2') format('woff2'),
        url('../fonts/chumb/Chumb.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
