main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

hr {
    height: 1px;
    margin: 48px 0;
    border: none;

    opacity: 0.5;
    background-color: var(--dark);
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 20px;
    position: relative;
    background-color: var(--light-gray);
    border-radius: 20px;
}

#aminematue {
    color: #EBFAFF;
    background: #115166;
    background: linear-gradient(0deg, rgba(17, 81, 102, 1) 0%, rgba(13, 59, 74, 1) 100%);
}

#avamind {
    color: #FBEBFF;
    background: #821A99;
    background: linear-gradient(0deg, rgba(130, 26, 153, 1) 0%, rgba(107, 22, 126, 1) 100%);
}

#wao {
    color: #EFD6BE;
    background: #9E2020;
    background: linear-gradient(0deg, rgba(158, 32, 32, 1) 0%, rgba(133, 27, 27, 1) 100%);
}

#zack-nani {
    color: #EAF4ED;
    background: #1A6D5A;
    background: linear-gradient(0deg, rgb(23, 94, 77) 0%, rgba(14, 70, 60, 1) 100%);
}

.client .infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: justify;
}

.client .infos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.client .infos-header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.client .infos p {
    font-size: 14px;
}

.client .name {
    font-family: 'Chumb';
    font-size: 28px !important;
    font-weight: 400;
}

.client .socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.client .socials a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    font-family: 'Chumb';
    font-weight: 400;
    text-align: center;
    line-height: 0.75;

    transition: all 0.2s ease-in-out;
}

.client .socials a:hover {
    transform: translateY(-4px);
}

.client .socials i {
    font-size: 36px;
}

.client .followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.client .followers span {
    font-family: 'Chumb';
    font-weight: 400;
    font-size: 18px;
}

.client .followers p {
    font-family: 'NewBlackTypeface';
    font-weight: 600;
    font-size: 12px;
}

.client .image {
    display: none;
}

.client .image img {
    max-height: 100%;
}

.works {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.video-large {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.video-large>div {
    flex: 1;
}

.video-large .thumbnail {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 20px;
}

.video-large .thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: clip-path 0.5s ease-in-out;

    object-fit: cover;
    display: block;
}

.video-large .thumbnail img.hidden {
    clip-path: inset(0 0 0 100%);
    pointer-events: none;
}

.video-large .thumbnail img.visible {
    clip-path: inset(0 0 0 0%);
}

.video-large .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.video-large .views {
    display: none;
    font-family: 'Chumb';
    font-size: 120px;
    font-weight: 400;
    margin-bottom: -30px;
}

.video-large .views span {
    font-size: 48px;
}

.video-large .description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 600px;
}

.video-large .title {
    font-weight: 700;
}

.video-large .channel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.video-large .channel img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.video-large .stats {
    display: none;
}

.video-large .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.video-small {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.video-small .thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}

.video-small .details {
    display: flex;
    gap: 12px;
}

.video-small .details img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.video-small .infos {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.video-small .title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 1.25;
}

.video-small .channel {
    font-size: 14px;
    font-weight: 400;
}

.video-small .channel span {
    font-size: 8px;
}

@media screen and (min-width: 1600px) {
    main {
        gap: 32px;
    }

    .client {
        flex-direction: row;
        height: 300px;
        padding: 0;
        gap: 48px;
    }

    .client .infos {
        gap: 16px;
        min-width: 600px;
        max-width: 600px;
        padding-left: 32px;
    }

    .client .infos p {
        font-size: inherit;
    }

    .client .name {
        font-size: 64px !important;
    }

    .client .socials {
        width: inherit;
        justify-content: inherit;
        gap: 48px;
    }

    .client .socials a {
        gap: 16px;
    }

    .client .socials i {
        font-size: 48px;
    }

    .client .followers span {
        font-size: 32px;
    }

    .client .image {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        padding-top: 24px;
    }

    .video-large {
        flex-direction: row;
        gap: 24px;
    }

    .video-large .views {
        display: block;
    }

    .video-large .details {
        text-align: center;
        gap: 32px;
    }

    .video-large .title {
        font-size: 20px;
        font-weight: 600;
    }

    .video-large .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        gap: 24px;
    }

    .video-large .stats>div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        gap: 8px;
    }
}